@use "../../scss/custom" as *;
@use '../../scss/component/mixin' as *;

.menu {
  @include gradient;
  li {
    padding: 0 0.7rem;
    a {
      color: $white !important;
      text-transform: capitalize;
      font-size: 1.2rem;
     
    }
    
  }
}

.dropdown-menu {
  margin-top:1rem;
  .dropdown-item {
    &:hover {
    background-color:$secondary;
    }
  }
}


         
        
       
